Health Care Project

Problem Statement 1:

In [ ]:
import pandas as pd

# Load the census data into a DataFrame
census_data = pd.read_csv('census_2011.csv')

# Select only the required columns
required_columns = ['State name', 'District name', 'Population', 'Male', 'Female',
                    'Literate', 'Male_Literate', 'Female_Literate', 'Rural_Households',
                    'Urban_Households', 'Households', 'Age_Group_0_29', 'Age_Group_30_49',
                    'Age_Group_50', 'Age not stated']

census_data = census_data[required_columns]

# Display the first few rows of the modified DataFrame
print(census_data.head())

          State name District name  Population      Male    Female  Literate  \
0  JAMMU AND KASHMIR       Kupwara    870354.0  474190.0  396164.0  439654.0
1  JAMMU AND KASHMIR        Badgam    753745.0       NaN  355704.0  335649.0
2  JAMMU AND KASHMIR   Leh(Ladakh)    133487.0   78971.0   54516.0   93770.0
3  JAMMU AND KASHMIR        Kargil    140802.0       NaN   63017.0       NaN
4  JAMMU AND KASHMIR         Punch         NaN  251899.0  224936.0  261724.0

   Male_Literate  Female_Literate  Rural_Households  Urban_Households  \
0       282823.0         156831.0          158438.0               NaN
1       207741.0         127908.0          160649.0           27190.0
2        62834.0          30936.0           36920.0           17474.0
3        56301.0          29935.0           40370.0            7774.0
4       163333.0          98391.0          132139.0           15269.0

   Households  Age_Group_0_29  Age_Group_30_49  Age_Group_50  Age not stated
0    181664.0        600759.0         178435.0       89679.0          1481.0
1    187839.0        503223.0         160933.0       88978.0           611.0
2     54394.0         70703.0          41515.0           NaN           250.0
3     48144.0         87532.0          35561.0       17488.0           221.0
4    147408.0        304979.0         109818.0       61334.0           704.0

Problem Statement 2:

In [ ]:
import pandas as pd

# Load the census data into a DataFrame
census_data = pd.read_csv('census_2011.csv')

# Select only the required columns
required_columns = ['State name', 'District name', 'Population', 'Male', 'Female',
                    'Literate', 'Male_Literate', 'Female_Literate', 'Rural_Households',
                    'Urban_Households', 'Households', 'Age_Group_0_29', 'Age_Group_30_49',
                    'Age_Group_50', 'Age not stated']

census_data = census_data[required_columns]

# Rename the columns
census_data = census_data.rename(columns={'State name': 'State/UT',
                                          'District name': 'District',
                                          'Male_Literate': 'Literate_Male',
                                          'Female_Literate': 'Literate_Female',
                                          'Rural_Households': 'Households_Rural',
                                          'Urban_Households': 'Households_Urban',
                                          'Age_Group_0_29': 'Young_and_Adult',
                                          'Age_Group_30_49': 'Middle_Aged',
                                          'Age_Group_50': 'Senior_Citizen',
                                          'Age not stated': 'Age_Not_Stated'})

# Display the first few rows of the modified DataFrame
print(census_data.head())

            State/UT     District  Population      Male    Female  Literate  \
0  JAMMU AND KASHMIR      Kupwara    870354.0  474190.0  396164.0  439654.0
1  JAMMU AND KASHMIR       Badgam    753745.0       NaN  355704.0  335649.0
2  JAMMU AND KASHMIR  Leh(Ladakh)    133487.0   78971.0   54516.0   93770.0
3  JAMMU AND KASHMIR       Kargil    140802.0       NaN   63017.0       NaN
4  JAMMU AND KASHMIR        Punch         NaN  251899.0  224936.0  261724.0

   Literate_Male  Literate_Female  Households_Rural  Households_Urban  \
0       282823.0         156831.0          158438.0               NaN
1       207741.0         127908.0          160649.0           27190.0
2        62834.0          30936.0           36920.0           17474.0
3        56301.0          29935.0           40370.0            7774.0
4       163333.0          98391.0          132139.0           15269.0

   Households  Young_and_Adult  Middle_Aged  Senior_Citizen  Age_Not_Stated
0    181664.0         600759.0     178435.0         89679.0          1481.0
1    187839.0         503223.0     160933.0         88978.0           611.0
2     54394.0          70703.0      41515.0             NaN           250.0
3     48144.0          87532.0      35561.0         17488.0           221.0
4    147408.0         304979.0     109818.0         61334.0           704.0

Problem Statement 3:

In [ ]:
# Define a function to capitalize State/UT names according to the specified format
def capitalize_state_name(state_name):
    words = state_name.lower().split()
    capitalized_words = [word.capitalize() if word != 'and' else word for word in words]
    return ' '.join(capitalized_words)
# Apply the function to capitalize State/UT names
census_data['State/UT'] = census_data['State/UT'].apply(capitalize_state_name)
# Display the first few rows of the resulting DataFrame
print(census_data.head())

            State/UT     District  Population      Male    Female  Literate  \
0  Jammu and Kashmir      Kupwara    870354.0  474190.0  396164.0  439654.0
1  Jammu and Kashmir       Badgam    753745.0       NaN  355704.0  335649.0
2  Jammu and Kashmir  Leh(Ladakh)    133487.0   78971.0   54516.0   93770.0
3  Jammu and Kashmir       Kargil    140802.0       NaN   63017.0       NaN
4  Jammu and Kashmir        Punch         NaN  251899.0  224936.0  261724.0

   Literate_Male  Literate_Female  Households_Rural  Households_Urban  \
0       282823.0         156831.0          158438.0               NaN
1       207741.0         127908.0          160649.0           27190.0
2        62834.0          30936.0           36920.0           17474.0
3        56301.0          29935.0           40370.0            7774.0
4       163333.0          98391.0          132139.0           15269.0

   Households  Young_and_Adult  Middle_Aged  Senior_Citizen  Age_Not_Stated
0    181664.0         600759.0     178435.0         89679.0          1481.0
1    187839.0         503223.0     160933.0         88978.0           611.0
2     54394.0          70703.0      41515.0             NaN           250.0
3     48144.0          87532.0      35561.0         17488.0           221.0
4    147408.0         304979.0     109818.0         61334.0           704.0

Problem Statement 4:

In [ ]:
import pandas as pd

# Sample data
data = {
    'State/UT': ['ANDHRA PRADESH', 'ANDHRA PRADESH', 'JAMMU AND KASHMIR', 'JAMMU AND KASHMIR'],
    'District': ['District X', 'Telangana District', 'District Y', 'Laddakh District'],
    'Population': [10000, 5000, 15000, 7000],
    # Other columns...
}

# Create DataFrame
census_data = pd.DataFrame(data)

# Read Telangana districts from file
with open('/content/Telangana.txt', 'r') as file:
    telangana_districts = [line.strip() for line in file]

# Read Ladakh districts from file
with open('/content/Dataset_Reference.txt', 'r') as file:
    ladakh_districts = [line.strip() for line in file]

# Define a function to update State/UT names based on districts
def update_state_ut(row):
    if row['District'] in telangana_districts:
        return 'Telangana'
    elif row['District'] in ladakh_districts:
        return 'Laddakh'
    else:
        return row['State/UT']

# Apply the function to update State/UT names
census_data['State/UT'] = census_data.apply(update_state_ut, axis=1)

# Print the DataFrame with updated State/UT names
print(census_data)

            State/UT            District  Population
0     ANDHRA PRADESH          District X       10000
1     ANDHRA PRADESH  Telangana District        5000
2  JAMMU AND KASHMIR          District Y       15000
3  JAMMU AND KASHMIR    Laddakh District        7000

In [ ]:
import pandas as pd

# Assuming your data is loaded into a pandas dataframe named 'df'
def find_missing_data(df):
  # Find the total number of rows in the dataframe
  total_rows = len(df)
  # Find the number of missing values in each column
  missing_values = df.isnull().sum()
  # Calculate the percentage of missing data for each column
  percent_missing = (missing_values / total_rows) * 100
  # Create a DataFrame to store the results
  missing_data_df = pd.DataFrame({'column_name': df.columns, 'percent_missing': percent_missing})
  # Sort the DataFrame by the percentage of missing data (descending order)
  missing_data_df = missing_data_df.sort_values(by='percent_missing', ascending=False)

  return missing_data_df

# Example usage:
df = pd.read_csv('census_2011_filtered.csv')
missing_data = find_missing_data(df.copy())
print(missing_data)